<nav class="navbar">

  <div class="logo">
    Student Project Manager
  </div>

  <button class="menu-toggle" (click)="toggleMenu()">
    ☰
  </button>

  <div class="nav-links" [class.open]="menuOpen">

    <a routerLink="/"
       routerLinkActive="active"
       [routerLinkActiveOptions]="{ exact: true }"
       (click)="closeMenu()">
       Accueil
    </a>

    <a routerLink="/projects"
       routerLinkActive="active"
       (click)="closeMenu()">
       Projets
    </a>

    <a routerLink="/add-project"
       routerLinkActive="active"
       (click)="closeMenu()">
       Ajouter
    </a>

    <a routerLink="/stats"
       routerLinkActive="active"
       (click)="closeMenu()">
       Stats
    </a>

  </div>

</nav>
