<nav class="navbar">

  <div class="logo">
    Student Project Manager
  </div>

  <div class="nav-links">

    <a routerLink="/"
       routerLinkActive="active"
       [routerLinkActiveOptions]="{ exact: true }">
       Accueil
    </a>

    <a routerLink="/projects"
       routerLinkActive="active">
       Projets
    </a>

    <a routerLink="/addProjects"
       routerLinkActive="active">
       Ajouter
    </a>

    <a routerLink="/stats"
       routerLinkActive="active">
       Stats
    </a>

  </div>

</nav>