<h1>Liste des projets</h1>

<div class="columns">

  <section class="column">
    <h2>À faire</h2>

    @for (project of todoProjects; track project.id) {
      <div class="project-card" [appPriorityColor]="project.priority">
        <h3>{{ project.title }}</h3>

        <a [routerLink]="['/projects', project.id]">
          Voir détail
        </a>

        <div class="card-actions">
          <button class="action-button next-button" (click)="moveToInProgress(project)">
            → Commencer le projet
          </button>

          <button class="delete-btn" (click)="deleteProject(project.id)">
            Supprimer
          </button>
        </div>
      </div>
    }

    @if (todoProjects.length === 0) {
      <p class="empty-message">Aucun projet</p>
    }
  </section>

  <section class="column">
    <h2>En cours</h2>

    @for (project of inProgressProjects; track project.id) {
      <div class="project-card" [appPriorityColor]="project.priority">
        <h3>{{ project.title }}</h3>

        <a [routerLink]="['/projects', project.id]">
          Voir détail
        </a>

        <div class="card-actions">
          <button class="action-button back-button" (click)="moveToTodo(project)">
            ← Revenir à "À faire"
          </button>

          <button class="action-button next-button" (click)="moveToDone(project)">
            → Terminer le projet
          </button>

          <button class="delete-btn" (click)="deleteProject(project.id)">
            Supprimer
          </button>
        </div>
      </div>
    }

    @if (inProgressProjects.length === 0) {
      <p class="empty-message">Aucun projet</p>
    }
  </section>

  <section class="column">
    <h2>Terminé</h2>

    @for (project of doneProjects; track project.id) {
      <div class="project-card" [appPriorityColor]="project.priority">
        <h3>{{ project.title }}</h3>

        <a [routerLink]="['/projects', project.id]">
          Voir détail
        </a>

        <div class="card-actions">
          <button class="action-button back-button" (click)="moveToInProgress(project)">
            ← Revenir à "En cours"
          </button>

          <button class="delete-btn" (click)="deleteProject(project.id)">
            Supprimer
          </button>
        </div>
      </div>
    }

    @if (doneProjects.length === 0) {
      <p class="empty-message">Aucun projet</p>
    }
  </section>

</div>