@if (project) {

<div class="detail-container">

  <div class="project-card" [appPriorityColor]="project.priority">

    <button class="back-button" (click)="goBack()">
      ← Retour aux projets
    </button>

    <h1>{{ project.title }}</h1>

    <div class="info">
      <span class="label">Matière</span>
      <span>{{ project.subject }}</span>
    </div>

    <div class="info">
      <span class="label">Description</span>
      <span>{{ project.description }}</span>
    </div>

    <div class="info">
      <span class="label">Date limite</span>
      <span>{{ project.deadline | date:'dd/MM/yyyy' }}</span>
    </div>

    <div class="badges">

      <span class="status">
        <span class="label">Statut : </span>
        {{ project.status }}
      </span>

      <span class="priority">
        <span class="label">Priorité : </span>
        {{ project.priority }}
      </span>

      <button [routerLink]="['/projects/edit', project.id]" class="edit-button">
        Modifier
      </button>

    </div>

  </div>

</div>

}

@if (!project) {

<p class="error">Projet introuvable</p>

}
